<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
	<div style="position:fixed; left:5px; bottom:10px; z-index: 9999;">
		<a
			href="https://api.whatsapp.com/send?phone=+6288213128081&text=Hi,%20saya%20mau%20buat%20website%20dong%20!!!%20Bagaimana%20caranya%20?">


			<img style="height: 85px; width: 100px; animation: infinite;" src="/images/Wa.png">
		</a>
	</div>
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}
</body>

</html>