<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
{{ partial "head.html" . }}

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="55">

  <div style="position:fixed; left:5px; bottom:10px; z-index: 9999;">
 <a href="https://api.whatsapp.com/send?phone=+6288213128081&text=Hi,%20saya%20mau%20buat%20website%20dong%20!!!">

  <!-- <button style="vertical-align: center; height: 36px; border-radius: 5px; background: transperant; opacity: 2;"> -->
  <img style="height: 85px; width: 100px; animation: infinite;" src="/images/Wa.png">
 </a>
</div>


  <div id="content">
    <!--    {{ partial "preloader.html" . }} -->
    {{- block "main" . }}{{- end }}
  </div>

  {{- partial "footer.html" . -}}
</body>

</html>